@page
@model SollyLearn.UI.Pages.HighLightModel
@{
    ViewData["Title"] = "HighLight page";
}

<div class="timeline">
    <div class="container-for-highlight left-container">
        <img src="~/Images/amazon.png" />
        <div class="text-box">
            <h2>Origin</h2>
           @*  <small>Hey you hey</small> *@
            <p>Originating in 1997, our journey commenced as the inaugural National Instruments Alliance Member in India.
                This pioneering step marked our entry into the realm of cutting-edge technology and engineering excellence. 
                From those early days, we have continuously evolved, leveraging our expertise and commitment 
                to innovation to forge a significant presence in the industry.</p>
            <span class="left-container-arrow"></span>

        </div>
    </div>

    <div class="container-for-highlight right-container">
        <img src="~/Images/google.png" />
        <div class="text-box">
            <h2>Growth</h2>
           @*  <small>Hey you hey</small> *@
            <p>
                Over the span of two decades, our growth trajectory has been nothing short of remarkable, 
                achieving an impressive average annual growth rate of 26%. What sets us apart is our commitment 
                to organic expansion, a testament to our ability to innovate, adapt, and deliver exceptional 
                results in a constantly evolving market landscape.
            </p>
            <span class="right-container-arrow"></span>

        </div>
    </div>

    <div class="container-for-highlight left-container">
        <img src="~/Images/tesla.png" />
        <div class="text-box">
            <h2>Presence</h2>
            @* <small>Hey you hey</small> *@
            <p>
                We have established our presence across key locations, strategically positioning ourselves 
                to serve our clientele effectively. In India, our operations extend to Bangalore and Coimbatore,
                where we harness local talent and resources to drive innovation and deliver top-notch solutions.
                Meanwhile, in the USA, we have a robust footprint spanning multiple cities, including Dallas, 
                Minneapolis, Austin, Boston, Phoenix, and Milwaukee
            </p>
            <span class="left-container-arrow"></span>
        </div>
    </div>

    <div class="container-for-highlight right-container">
        <img src="~/Images/amazon.png" />
        <div class="text-box">
            <h2>Values</h2>
          @*   <small>Hey dh hey</small> *@
            <p>
                At the core of our ethos lies a steadfast commitment to integrity and excellence.
                We uphold the highest ethical standards in every endeavor, ensuring transparency,
                honesty, and fairness in all our interactions. Our relentless pursuit of excellence
                drives us to continually raise the bar, striving to deliver nothing short of the best in everything we do.
            </p>
            <span class="right-container-arrow"></span>

        </div>
    </div>

    <div class="container-for-highlight left-container">
        <img src="~/Images/toyota.png" />
        <div class="text-box">
            <h2>Culture</h2>
          @*   <small>Hey nagi hey</small> *@
            <p>
                In our culture, openness and respect are not just values we preach; they're principles we live by every day.
                We cultivate an environment where everyone's voice is heard, ideas are valued, and differences are embraced.
                Confidence drives us forward, empowering us to tackle challenges head-on with conviction and determination. 
                Yet, humility grounds us, reminding us to stay receptive to feedback, learn from our mistakes, and continuously grow.
            </p>
            <span class="left-container-arrow"></span>

        </div>
    </div>

    <div class="container-for-highlight right-container">
        <img src="~/Images/youtube.png" />
        <div class="text-box">
            <h2>Delight</h2>
           @*  <small>Hey there hey</small> *@
            <p>
                For us, success isn't merely defined by metrics or numbers; it's measured by the 
                level of delight we bring to our customers and our team members alike. We pride 
                ourselves on going beyond satisfaction, aiming to exceed expectations and leave 
                a lasting impression of joy and fulfillment. Yes, we do have a measure for this -
                it's the genuine smiles, the enthusiastic feedback, and the positive experiences 
                shared by both our customers and our team.
            </p>
            <span class="right-container-arrow"></span>

        </div>
    </div>
</div>